body {
  background-color: #EEDFCC;
  font-family: "Times New Roman", serif;
  margin: 20px;
  cursor: url('layout/mus 2.png'), auto;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
  cursor: url('layout/mus 2.png'), pointer;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3 {
  color: #000000;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
p {
  line-height: 1.5em;
  text-align: justify;
}
img {
  border: 1px solid #333;
}
